.main-footer {
    height: 144px;
    text-align: center;
    color: blue;
    background: url('../img/background-footer.png') center no-repeat;
    background-size: cover
}
.all-rights__text {
    color: white;
    font-family: arial;
    font-size: 17px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 46px
}
.social-button {
    margin-top: 17px
}
.social-button__img {
    margin: 0 30px
}
.foo {
    flex: 3
}
